/* ---------------- GENERAL -------------------*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
    font-family : 'Raleway', sans-serif;
    display: flex;
    flex-flow: column wrap;
}

header, #hook, #searchBar, #filters, #result, main {
    width: 92%;
    margin: inherit;
}

h2 {
    font-size: 1.2em;
    font-weight: bolder;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    opacity: 0.8;
    color: black;
}

a:hover {
    opacity: 1;
}
/* ---------------- HEADER -------------------*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#logo {
    margin-left: 5px;
}
#logo h1 {
    display: none;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

header li {
    margin: 0 30px;
}

header nav + li {
    background-color: #0065FC;

}
header li .blueLine {
    background:#0065FC;
    width: 100%;
    height: 3px;
}

#accommoBtn {
    color: #0065FC;
}

#register {
    color: #0065FC;
}

/* ---------------- HOOK ------------------- */

#hook {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

#hook p {
    margin-top: 0;
    margin-bottom: 15px;
}
#hook h2 {
    margin-bottom: 7px;
}

/* ---------------- SEARCH BAR ------------------- */

#searchBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 15px 15px;
}

 /* apparence du bouton "rechercher" */
form input[type="submit"] {
    background: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
    color: #FFF;
    height: 40px;
    font-family : 'Raleway', sans-serif;
    cursor: pointer;
}

/* apparence du champs de saisi  */
form input[type="text"] {
    height: 39px;
    border: #F2F2F2 solid 2px;
    font-family : 'Raleway', sans-serif;
}

#searchBar i {
    background: #F2F2F2;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 15px 0 0 15px;
}

/* ---------------- FILTERS ------------------- */

#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.switch {
    border: #F2F2F2 solid 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    height: 50px;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.switch * {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;    align-items: center;
    margin: 0 0;
    height: 42px;
}

.filterIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#filters b {
    margin: 0 15px;
}

/* ---------------- RESULT ------------------- */

#result {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#result * {
    margin: 0px 10px;
}

#result i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    border: 2px solid #F2F2F2;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    font-size: 10px;
    color: #0065FC;
}

#result p {
    margin-left: 0;
}

/* ---------------- "Hébergements à Marseille" ------------------- */
#lodgingList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 550px;
}
/* Mise en page général du main */
.layout {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 40px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

article h2 {
    margin-top: 0;
}

figure {
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 0px 0px 6px 0px black;
    width: auto;
    height: auto;
    cursor: pointer;
}

/* Partie "Hébergements à Marseille" */
#lodgingList article {
    max-width: 800px;
    width: 100%;
}

/* Bloc contenant les vignettes de "Hébergements à Marseille" */
#accommodation {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

article > strong {
    margin-top: 30px;
}

/* Positionnement des vignettes */
#accommodation figure {
    height: 180px;
    width: auto;
    margin: 0;
}

/* Dimensions des images de "Hébergements à Marseille */
#accommodation img {
    border-radius: 13px 13px 0 0;
    width: 100%;
    height: 113px;
    object-fit: cover;
}

figcaption {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    padding: 0 0 5px 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

article figcaption p, .grade {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2px;
}
.grade {
    color: #0065fc;
    font-size: x-small;
}
.grade i:last-child {
    color: #D9D9D9;
}
/* Toutes les étoiles de "Hôtel Le soleil du matin" dans "Les plus populaires" */
#popularList figure:nth-child(1) .grade i:last-child {
    color: #0065fc;
}
 /* ---------------- "Les plus populaires" ------------------- */

 #lodgingList aside {
    max-width: 372px;
    width: 100%;
    height: 100%;
}

#headerPopular {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#headerPopular h2 {
    margin-top: 0;
}

/* Vignettes "Les plus populaires" */
aside figure {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 135px;
    margin: 0;
}

#popularList figcaption p:first-child {
    margin-top: 8px;
    margin-bottom: 3px;
}
#popularList figcaption p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 46px;
}
#popularList figcaption .grade {
    justify-content: flex-end;
}

/* Bloc de vignettes "Les plus populaires" */
#popularList {
    display: grid;
    grid-template-rows: 135px 1fr;
    gap: 15px;
    justify-content: center;
}

/* Dimensions des images de "Les plus populaires */
#popularList img {
    width: 126px;
    height: 127px;
    border-radius: 13px 0px 0px 13px;
    object-fit: cover;
}

/* ---------------- "Activités à Marseille" ------------------- */

#activity {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/* Positionnement des photos */
#activityPictures {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/* Permet de modifier les marges des vignettes */
#activityPictures figure {
    margin-left: 0;
    margin-right: 20px;
    padding: 0;
}

/* Dimensions des images */
.onePicture img {
    width: 250px;
    height: 400px;
    border-radius: 12px 12px 0 0;
}
.twoPictures img {
    width: 250px;
    height: 175px;
    border-radius: 12px 12px 0 0;
}

/* ---------------- FOOTER ------------------- */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
    padding: 20px 0 0 50px;
}

.partFooter {
    margin-right: 220px;
 
}
.partFooter li {
    margin: 10px 0;
}