/* ---------------- GENERAL -------------------*/
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0 auto;
    font-family : 'Raleway', sans-serif;
    display: flex;
    flex-flow: column wrap;
}

header, #hook, #searchBar, #filters, #result, main {
    width: 92%;
    margin: inherit;
}

h2 {
    font-size: 1.2em;
    font-weight: bolder;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 1;
}
/* ---------------- HEADER -------------------*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#logo {
    margin-left: 5px;
    height: auto;
    width: 7vw;
}

#logo h1 {
    display: none;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
    height: 12vh;
}

header li {
    padding: 0 3vw;
    width: auto;
    font-size: 1vw;
}

header nav + li {
    background-color: #0065FC;

}

header li:first-child {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

header li .blueLine {
    background:#0065FC;
    width: 100%;
    height: 0.4vh;
    position: absolute;
    top: 0;
}

#accommoBtn {
    color: #0065FC;
}

#register {
    color: #0065FC;
}

/* ---------------- HOOK ------------------- */

#hook {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

#hook p {
    margin-top: 0;
    margin-bottom: 15px;
}
#hook h2 {
    margin-bottom: 7px;
}

/* ---------------- SEARCH BAR ------------------- */

#searchBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 15px 15px;
}

form {
    display: flex;
    flex-flow: row nowrap;
}

 /* apparence du bouton "rechercher" */
form button {
    background: #0065FC;
    border-radius: 0 15px 15px 0;
    position: relative;
    border: none;
    outline: none;
    left: -5px;
    color: #FFF;
    padding: 5px;
    height: 40px;
    font-family : 'Raleway', sans-serif;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(54, 54, 197);
}

/* apparence du champs de saisi  */
form input[type="text"] {
    height: 40px;
    width: auto;
    border: #F2F2F2 solid 2px;
    outline: none;
    font-family : 'Raleway', sans-serif;
    padding: 0 10px;
}

#searchBar i {
    background: #F2F2F2;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 15px 0 0 15px;
    width: auto;
}

/* ---------------- FILTERS ------------------- */

#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.switch:hover {
    background: #e4e9f0;
    cursor: pointer;
    transition-duration: 0.25s;
}

.switch:hover i {
    background-color: #fff;
    transition-duration: 0.25s;
}

.switch {
display: inline;
margin-left: 25px;
font-weight: 600;
border: solid 2px #e2e2e2;
padding: 0 20px 0 0;
border-radius: 200px;
height: inherit;
width: auto;
}

.switch i {
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
background-color: #DEEBFF;
color: #0065fc;
padding: 18px;
border-radius: 200px;
margin-right: 15px;
}

/* ---------------- RESULT ------------------- */

#result {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;


}

#result * {
    margin: 0px 10px;
}

#result i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    border: 2px solid #F2F2F2;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    font-size: 10px;
    color: #0065FC;
}

#result p {
    margin-left: 0;
}

/* ---------------- "Hébergements à Marseille" ------------------- */
#lodgingList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-height: 600px;
    margin-bottom: 4%;
}
/* Mise en page général du main */
.layout {
    background-color: #F2F2F2;
    border-radius: 15px;
    /* padding: 40px; */
    padding: 4%;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

article h2 {
    margin-top: 0;
}

figure {
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 0 1px 5px rgb(165, 177, 177);
    height: auto;
    cursor: pointer;
}

figure:hover {
transform: scale(1.05);
transition: ease 0.5s;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Partie "Hébergements à Marseille" */
#lodgingList article {
    width: 65%;
    min-width: 272px;
    /* max-width: 800px; */
}

/* Bloc contenant les vignettes de "Hébergements à Marseille" */
#accommodation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article h2 {
    margin-bottom: 4%;
}

article > strong {
    /* margin-top: 30px; */
    margin: 2% 0;
}

/* Positionnement des vignettes */
#accommodation figure {
    /* width: auto; */
    width: 30%;
    min-width: 200px;
    margin: 0 0 4% 0;
}

/* Dimensions des images de "Hébergements à Marseille */
#accommodation img {
    border-radius: 13px 13px 0 0;
    max-height: 113px;
}

figcaption {
    width: 100%;
    height: 100%;
    padding: 0 0 5px 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

article figcaption p, .grade {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2px;
}
.grade {
    color: #0065fc;
    font-size: x-small;
}
.grade i:last-child {
    color: #D9D9D9;
}
/* Toutes les étoiles de "Hôtel Le soleil du matin" dans "Les plus populaires" */
#popularList figure:nth-child(1) .grade i:last-child {
    color: #0065fc;
}
 /* ---------------- "Les plus populaires" ------------------- */

 #lodgingList aside {
    width: 32%;
    min-width: 400px;
    /* margin: 0 0 4% 0; */
}

#headerPopular {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    /* margin: 20px; */
    margin: 0 0 4% 0;

}

#headerPopular h2 {
    margin-top: 0;
}

/* Vignettes "Les plus populaires" */
aside figure {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% 0;
    position: relative;
    width: 100%;
    /* height: 30%; */
}

#popularList figcaption p:first-child {
    margin-top: 8px;
    margin-bottom: 3px;
}
#popularList figcaption p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 46px;
}
#popularList figcaption .grade {
    position: absolute;
    bottom: 6px;
}

/* Bloc de vignettes "Les plus populaires" */
#popularList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Dimensions des images de "Les plus populaires */
#popularList img {
    width: 126px;
    height: 120px;
    border-radius: 13px 0px 0px 13px;
}

/* ---------------- "Activités à Marseille" ------------------- */
#activity {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/* Positionnement des photos */
#activityPictures {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    gap: 4%;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin: 4vh auto;
}

/* Permet de modifier les marges des vignettes */
.onePicture {
    margin-left: 0;
    padding: 0;
    width: 20vw;
    height: 70vh;
}

.twoPictures {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.twoPictures figure {
    width: 20vw;
    height: 32vh;
    padding: 0;
}

/* Dimensions des images */
.onePicture img {
    border-radius: 12px 12px 0 0;
    height: 90%;
    width: 100%;
}
.twoPictures img {
    border-radius: 12px 12px 0 0;
    height: 80%;
    width: 100%;
}

#activityPictures figcaption {
    height: auto;
    width: 100%;
    margin-top: 2%;
}

/* ---------------- FOOTER ------------------- */

footer {
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 28vh;
    background-color: #F2F2F2;
    font-size: 1vw;
    padding: 4% 0 0 5%;
    margin-top: 3%;
}

.partFooter {
    width: 33%;
    height: 100%;
}
.partFooter li {
    margin: 15px 0;
}